# Essential for package installation
setuptools
wheel
pip

# Main dependencies

pandas
numpy #>=1.21,<1.26
matplotlib
seaborn
scikit-learn
xgboost
lime
shap
beautifulsoup4
nltk

wordsegment
wordcloud
contractions
pyspellchecker
scipy
ipython
pickleshare
wordninja 

# NLP Packages
spacy==3.5.0
subprocess
streamlit
#streamlit_lottie==0.0.3
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl