# Essential for package installation
setuptools
wheel
pip

# Main dependencies
streamlit
pandas
numpy>=1.21,<1.26
matplotlib
seaborn
scikit-learn
xgboost
lime
shap
beautifulsoup4
nltk

wordsegment
wordcloud
contractions
pyspellchecker
scipy
ipython
pickleshare
wordninja 

# NLP Packages
spacy==3.5.0
thinc==8.1.10